<!DOCTYPE html>
<html>
<head>
    <title>Lektionenberechnung</title>
    {% include "header.jinja2" %}
    <style>
        .lessons-table {
            max-width: 400px;
        }

        .main {
            margin-left: 10vh;
            margin-right: 10vh;
        }
        .hard-top td {
            border-top: 1px dotted black !important;
        }
        .double-bottom td {
            border-bottom: 2px solid  black !important;
        }
    </style>
</head>
<body>
<div class="main">
    {% include "logo.jinja2" %}
    <h1>Lernstunden</h1>
    <p><a href="index.html"><i class="bi bi-back"></i> Zur Übersicht</a></p>
    <p>Berechnung gemäss Rahmenlehrplan für Bildungsgänge der höheren Fachschulen "Dipl. Informatikerin HF"</p>
    <table class="table lessons-table">
        <tbody>
        <tr>
            <td>Kontaktstudium Total</td>
            <td>{{ ls.present }}</td>
        </tr>
        <tr>
            <td><i>davon Präsenzunterricht</i></td>
            <td><i>{{ ls.vorort }}</i></td>
        </tr>
        <tr>
            <td>Angeleitetes Selbststudium</td>
            <td>{{ ls.selbststudium }}</td>
        </tr>
        <tr>
            <td>Individuelles Selbststudium</td>
            <td>{{ ls.ind_selbststudium }}</td>
        </tr>
        <tr>
            <td>Qualifikationsverfahren <a href="#" data-bs-toggle="tooltip" data-bs-title="5 Semesterarbeiten + Diplomarbeit"><i class="bi bi-info-circle-fill"></i></a></td>
            <td>{{ ls.qualification }}</td>
        </tr>
        <tr class="hard-top  double-bottom">
            <td><b>Total Lernstunden</b></td>
            <td><b>{{ ls.total }}</b></td>
        </tr>
        <tr>
            <td><b>Berufspraxis <a href="#" data-bs-toggle="tooltip" data-bs-title="Berufsbegleitend mind. 50% Beschäftigungsgrad"><i class="bi bi-info-circle-fill"></i></a></b></td>
            <td>{{ ls.praxis }}</td>
        </tr>
        <tr class="hard-top double-bottom">
            <td>Total inkl. Berufspraxis</td>
            <td>{{ ls.total_incl_praxis }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% include "footer.jinja2" %}
</body>
</html>