<!DOCTYPE html>
<html>
<head>
    <title>{{ hfm.kuerzel }} - {{ hfm.name }}</title>
    {% include "header.jinja2" %}
    {% include "header.table.jinja2" %}
    <style>
        .main {
            margin-left: 10vh;
            margin-right: 10vh;
        }

        .lessons-table {
            max-width: 400px;
        }
        .allgemein-table {
            max-width: 800px;
        }
        /* Apply default styling to all tables */
    </style>
</head>
<body>
<div class="main">
    {% include "logo.jinja2" %}
    <h1>{{ hfm.kuerzel }} - {{ hfm.name }}</h1>
    <p><a href="index.html"><i class="bi bi-back"></i> Zur Übersicht</a>
        &nbsp;&nbsp; - &nbsp;&nbsp;
        <a href="{{ hfm.get_safe_kuerzel() }}.pdf"><i class="bi bi-file-earmark-pdf-fill"></i> PDF</a>
        &nbsp;&nbsp; - &nbsp;&nbsp;
        <a href="{{ hfm.repository }}"><i class="bi bi-box-arrow-up-right"></i> Repository</a>
    </p>
    <br/>
    <br/>
        <table class="allgemein-table table table-striped-columns">
        <tbody>
        <tr>
            <td>Bereich</td>
            <td> {{ hfm.bereich }} </td>
        </tr>
        <tr>
            <td>Voraussetzungen</td>
            <td> {{ hfm.voraussetzungen }} </td>
        </tr>
        <tr>
            <td>Methoden</td>
            <td> {{ hfm.methoden }} </td>
        </tr>
        <tr>
            <td>Schlüsselbegriffe</td>
            <td> {{ hfm.schluesselbegriffe }} </td>
        </tr>
        <tr>
            <td>Lernzielkontrolle</td>
            <td> Semesterarbeit</td>
        </tr>
        <tr>
            <td>Kompetenzniveau</td>
            <td>{{ hfm.kompetenzniveau() }}</td>
        </tr>
        <tr>
            <td>Dispensation</td>
            <td> {{ hfm.dispensation }} </td>
        </tr>
        <tr>
            <td>Lehr- und Lernformen</td>
            <td> {{ hfm.lehr_und_lernformen }} </td>
        </tr>
        <tr>
            <td>Lehrmittel</td>
            <td>Repository auf GitLab mit Ressourcen, Übungen, Laboraufgaben und Verweise auf
                weiterführende Lehrmittel <a href="{{ hfm.repository }}">{{ hfm.repository }}</a></td>
        </tr>
        <tr>
            <td>Letzte Änderung</td>
            <td> {{ hfm.last_change }} </td>
        </tr>
        </tbody>
    </table>

    <h2>Beschreibung zum Inhalt des Moduls</h2>
    <p>{{ hfm.beschreibung.html() }}</p>

    <h2>Lektionen</h2>
    <table class="lessons-table table table-striped-columns">
        <tbody>
        <tr>
            <td>Präsenzlektionen (Vor Ort)</td>
            <td>{{ hfm.praesenzlektionen_vor_ort }}</td>
        </tr>
        <tr>
            <td>Präsenzlektionen (Distance Learning)</td>
            <td>{{ hfm.praesenzlektionen_distance_learning }}</td>
        </tr>
        <tr>
            <td>Selbststudium</td>
            <td>{{ hfm.selbststudium }}</td>
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td>{{ hfm.total() }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Fahrplan</h2>
    <p>{{ hfm.fahrplan.html() }}</p>

    <h2>Kompetenzmatrix</h2>
    <p>{{ hfm.kompetenzmatrix_nested.html() }}</p>

    <h2>Handlungsziele und Handlungssituationen </h2>
    <p>{{ hfm.handlungssituationen.html() }}</p>

    <h2>Lernziele</h2>
    <p>{{ hfm.lernziele.html() }}</p>

    {% if hfm.lehrmittel.str().strip().lower() != 'repository' %}
    <h2>Weitere Lehrmittel</h2>
    <p>{{ hfm.lehrmittel.html() }}</p>
    {% endif %}

    <h2> Transfer </h2>
    <p>{{ hfm.transfer.html() }}</p>

    <h2>Kompetenzen gemäss Rahmenlehrplan vom 10.10.2022</h2>
    <h3>Modulspezifische Handlungskompetenzen</h3>
    {{ hfm.modulspezifische_handlungskompetenzen.html() }}
    {% if hfm.allgemeine_handlungskompeten.str().strip() != "" %}
    <h3>Allgemeine Handlungskompetenzen</h3>
    {{ hfm.allgemeine_handlungskompeten.html() }}
    {% endif %}
    <h2>Autorenschaft</h2>
    <p>{{ hfm.autor.html() }}</p>
    <br/>
    {% include "copyright.jinja2" %}
</div>
</body>
</html>