<!DOCTYPE html>
<html>
<head>
    <title>{{ hfm.kuerzel }} - {{ hfm.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "header.pdftable.jinja2" %}
    <style>
        .main {
            margin-left: 10vh;
            margin-right: 10vh;
        }

        .header-table {
            width: 100%;
            border-collapse: collapse;
        }

        .header-table td {
            /* Additional styling for cells */
        }

        .left-cell {
            text-align: left;
        }

        .right-cell {
            text-align: right;
        }


        .lessons-table {
            width: 50%;
        }

        @page {
            size: a4 portrait;
            @frame header_frame {
                /* Static Frame */
                -pdf-frame-content: header_content;
                left: 50pt;
                width: 512pt;
                top: 50pt;
                height: 40pt;
            }
            @frame content_frame {
                /* Content Frame */
                left: 50pt;
                width: 512pt;
                top: 100pt;
                height: 632pt;
            }
            @frame footer_frame {
                /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 50pt;
                width: 512pt;
                top: 772pt;
                height: 20pt;
            }
        }
    </style>
</head>
<body>
<div id="header_content">
    <table class="header-table">
        <tr>
            <td class="left-cell">
                <img src="logo.JPG"/>
            </td>
            <td class="right-cell">
                <p>Technische Berufsschule Zürich<br>Höhere Fachschule<br>{{ hfm.last_change }}</p>
            </td>
        </tr>
    </table>
</div>
<div id="footer_content">
    <table class="header-table">
        <tr>
            <td class="left-cell">
                Modulbeschreibung - Dipl. Informatiker/in HF Cloud-native Engineer - {{ hfm.get_safe_kuerzel() }}
            </td>
            <td class="right-cell">
                <pdf:pagenumber/>
                /
                <pdf:pagecount/>
            </td>
        </tr>
    </table>
</div>
<div class="main">
    <h1>{{ hfm.kuerzel }} - {{ hfm.name }}</h1>
    <h2> Beschreibung zum Inhalt des Moduls </h2>
    <p>{{ hfm.beschreibung.html() }}</p>

    <h2>Lektionen</h2>
    <div style="width: 150pt">
        <table class="lessons-table">
            <tbody>
            <tr>
                <td style="width: 30%;">Präsenzlektionen (Vor Ort)</td>
                <td>{{ hfm.praesenzlektionen_vor_ort }}</td>
            </tr>
            <tr>
                <td>Präsenzlektionen (Distance Learning)</td>
                <td>{{ hfm.praesenzlektionen_distance_learning }}</td>
            </tr>
            <tr>
                <td>Selbststudium</td>
                <td>{{ hfm.selbststudium }}</td>
            </tr>
            <tr>
                <td><b>Total</b></td>
                <td>{{ hfm.total() }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2>Fahrplan</h2>
    <table style="padding: 2px; border: 1px solid grey; font-size: 8px;">
        <thead>
        <tr>
            {% set h = hfm.fahrplan.extract_table()["header"] %}
            <th style="width: 70px;">{{ h[0] }}</th>
            <th style="width: 70px;">{{ h[1] }}</th>
            <th>{{ h[2] }}</th>
            <th>{{ h[3] }}</th>
            <th>{{ h[4] }}</th>
        </tr>
        </thead>
    <tbody>
        {% for br in hfm.fahrplan.extract_table()["body"] %}
            <tr>
                {% for b in br %}
                    <td>
                        {% if b %}
                            {{ helpers.hyphenate_and_wrap(b, width=25) }}
                        {% else %}
                            <span style="color: white;">_</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <pdf:nextpage/>

    <h2>Kompetenzmatrix</h2>
    <table style="padding: 2px; border: 1px solid grey; font-size: 8px;">
        <thead>
        <tr>
            {% set h = hfm.kompetenzmatrix.extract_table()["header"] %}
            <th>{{ h[0] }}</th>
            <th style="width: 40px;">{{ h[1] }}</th>
            <th style="width: 40px;">{{ h[2] }}</th>
            <th>{{ h[3] }}</th>
            <th>{{ h[4] }}</th>
            <th>{{ h[5] }}</th>
            <th>{{ h[6] }}</th>
        </tr>
        </thead>
        <tbody>
            {% for br in hfm.kompetenzmatrix.extract_table()["body"] %}
                <tr>
                    {% for b in br %}
                        <td>
                            {% if b %}
                                {{ helpers.hyphenate_and_wrap(b, width=25) }}
                            {% else %}
                                <span style="color: white;">_</span>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <pdf:nextpage/>

    <h2>Kompetenzen gemäss Rahmenlehrplan vom 10.10.2022</h2>

    <h3>Modulspezifische Handlungskompetenzen</h3>
    {{ hfm.modulspezifische_handlungskompetenzen.html() }}

    {% if hfm.allgemeine_handlungskompeten.str().strip() != "" %}
    <h3>Allgemeine Handlungskompetenzen</h3>
    {{ hfm.allgemeine_handlungskompeten.html() }}
    {% endif %}

    <pdf:nextpage/>

    <h2>Handlungsziele und Handlungssituationen </h2>
    <p>{{ hfm.handlungssituationen.html() }}</p>

    <pdf:nextpage/>

    <h2> Lernziele </h2>
    <p>{{ hfm.lernziele.html() }}</p>

    <h2> Transfer </h2>
    <p>{{ hfm.transfer.html() }}</p>

    <h2>Allgemein</h2>
    <table style="padding: 2px; border: 1px solid grey;">
        <tbody>
        <tr>
            <td style="width: 20%;">Bereich:</td>
            <td> {{ hfm.bereich }} </td>
        </tr>
        <tr>
            <td>Voraussetzungen:</td>
            <td> {{ hfm.voraussetzungen }} </td>
        </tr>
        <tr>
            <td>Methoden:</td>
            <td> {{ hfm.methoden }} </td>
        </tr>
        <tr>
            <td>Schlüsselbegriffe:</td>
            <td> {{ hfm.schluesselbegriffe }} </td>
        </tr>
        <tr>
            <td>Lernzielkontrolle:</td>
            <td> Semesterarbeit</td>
        </tr>
        <tr>
            <td>Kompetenzniveau</td>
            <td>{{ hfm.kompetenzniveau() }}</td>
        </tr>
        <tr>
            <td>Dispensation:</td>
            <td> {{ hfm.dispensation }} </td>
        </tr>
        <tr>
            <td>Lehr- und Lernformen:</td>
            <td> {{ hfm.lehr_und_lernformen }} </td>
        </tr>
        <tr>
            <td>Lehrmittel:</td>
            <td> Repository auf GitLab mit Ressourcen, Übungen, Laboraufgaben und Verweise auf
                weiterführende Lehrmittel <a href="{{ hfm.repository }}">{{ hfm.repository }}</a></td>
        </tr>
        </tbody>
    </table>

    {% if hfm.lehrmittel.str().strip().lower() != 'repository' %}
    <h2>Weitere Lehrmittel</h2>
    <p>{{ hfm.lehrmittel.html() }}</p>
    {% endif %}

    <h2>Autorenschaft</h2>
    <p>{{ hfm.autor.html() }}</p>

    <p><br/><i>Letzte Änderung: {{ hfm.last_change }}</i></p>
</div>
</body>
</html>