<!DOCTYPE html>
<html>
<head>
    <title>Modulübersicht</title>
    {% include "header.jinja2" %}
    <style>
        .main {
            margin-left: 10vh;
            margin-right: 10vh;
        }
        .sumrow > td {
            border-top: 1px black solid !important;
        }
        .sumrow {
            border-bottom: 2px black double !important;
        }
    </style>
</head>
<body>

<div class="main">
    {% include "logo.jinja2" %}
    <h2><b>Modulübersicht</b> - Dipl. Informatiker/in HF Cloud-native Engineer</h2>
    <p>GitLab: <a href="https://gitlab.com/ch-tbz-wb/Stud/">ch-tbz-wb/Stud/</a>
        &nbsp;&nbsp;-&nbsp;&nbsp; Informationen zum Lehrgang:
        <a href="https://tbz.ch/weiterbildung-tbz/it-services-engineer-hf-2/">Dipl. Informatiker/in HF Cloud-native Engineer</a>
        &nbsp;&nbsp;-&nbsp;&nbsp;
        <a href="lessons.html">Lernstunden</a>
        &nbsp;&nbsp;-&nbsp;&nbsp;
        <a href="rahmenlehrplan.html">Rahmenlehrplan</a>
    </p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Kürzel</th>
            <th>Name</th>
            <th>Bereich</th>
            <th>Total<br/>Kontaktstudium</th>
            <th>Präsenz<br/>vor Ort</th>
            <th>Distance Learning</th>
            <th>Selbststudium</th>
            <th>Total Lektionen</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for sem in sems %}
            <tr>
            <td colspan="10" style="font-weight: bold;">Semester {{ sem.semester_str() }}</td>
            </tr>
            {% for hfm in sem.hfmoduls %}
            <tr>
                <td><a href="{{ hfm.get_safe_kuerzel() }}.html">{{ hfm.get_safe_kuerzel() }}</a></td>
                <td>{{ hfm.name }}</td>
                <td>{{ hfm.bereich }}</td>
                <td>{{ hfm.praesenzlektionen_vor_ort + hfm.praesenzlektionen_distance_learning }}</td>
                <td>{{ hfm.praesenzlektionen_vor_ort }}</td>
                <td>{{ hfm.praesenzlektionen_distance_learning }}</td>
                <td>{{ hfm.selbststudium }}</td>
                <td>{{ hfm.total() }}</td>
                <td>
                    <a href="{{ hfm.get_safe_kuerzel() }}.pdf"><i class="bi bi-file-earmark-pdf-fill"></i></a>
                </td>
                <td><a href="{{ hfm.repository }}"><i class="bi bi-box-arrow-up-right"></i></a></td>
            </tr>
            {% endfor %}
            {% for sp in sem.spezmoduls %}
            <tr>
                <td>{{ sp.kuerzel }}</td>
                <td>{{ sp.name }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ sp.total_lektionen }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            <tr class="sumrow">
                <td colspan="2" style="font-style: italic; text-align: right;">Total Lernstunden Semester {{ sem.semester_str() }}</td>
                <td></td>
                <td>{{ sem.total_vorort() + sem.total_distance() }}</td>
                <td>{{ sem.total_vorort() }}</td>
                <td>{{ sem.total_distance() }}</td>
                <td>{{ sem.total_selbststudium() }}</td>
                <td>{{ sem.total() }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Letzte Aktuallisierung: {{ now }}</p>
    <p>
        <a href="https://gitlab.com/ch-tbz-wb/general/hf-moduls"><i class="bi bi-gitlab"></i> Repository</a> &nbsp;&nbsp;-&nbsp;&nbsp;
        <a href="hfmodules.json"><i class="bi bi-database-fill"></i> JSON</a> &nbsp;&nbsp;-&nbsp;&nbsp;
        <a href="download_pdfs.sh"><i class="bi bi-database-fill"></i> Download PDFs Script</a>
    </p>
    {% include "copyright.jinja2" %}
    <p><br/></p>
</div>
</body>
</html>
