<!DOCTYPE html>
<html>
<head>
    <title>Rahmenlehrplan</title>
    {% include "header.jinja2" %}
    <style>
        .rlp-table {
            max-width: 800px;
        }

        .main {
            margin-left: 10vh;
            margin-right: 10vh;
        }

        .hard-top td {
            border-top: 1px dotted black !important;
        }

        .double-bottom td {
            border-bottom: 2px solid black !important;
        }

        .category td {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="main">
    {% include "logo.jinja2" %}
    <h1>Rahmenlehrplan - Dipl. Informatiker/in</h1>
    <p><a href="index.html"><i class="bi bi-back"></i> Zur Übersicht</a>
    &nbsp;&nbsp;-&nbsp;&nbsp;
    <a href="https://www.becc.admin.ch/becc/public/bvz/beruf/show/321"><i class="bi bi-building-fill"></i>SBFI - Rahmenlehrpläne - Dipl. Informatikerin HF</a>
    </p>
    <p><i>Die nachfolgende Zuordnung der Module zu den Handlungskompetenzen beinhaltet nur die modulspezifischen Handlungskompetenzen. Allgemeine Handlungskompetenzen und solche, die durch Projekt- und Semesterarbeiten abgedeckt werden, sind hier nicht aufgeführt.</i></p>
    <table class="table rlp-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Module</th>
        </thead>
        <tbody>
        {% for key, rlc in rlcs.items() %}
            <tr class="category">
                <td>{{ rlc.id }}</td>
                <td>{{ rlc.description }}</td>
                <td>{% for modul in rlc.moduls %}
                    <a href="{{ modul.get_safe_kuerzel() }}.html">{{ modul.get_safe_kuerzel() }}</a>,
                {% endfor %}</td>
            </tr>
            {% for rl in rlc.children %}
                <tr>
                    <td>{{ rl.id }}</td>
                    <td>{{ rl.description }}</td>
                    <td>{% for modul in rl.moduls %}
                        <a href="{{ modul.get_safe_kuerzel() }}.html">{{ modul.get_safe_kuerzel() }}</a>,
                    {% endfor %}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
<p>Letzte Aktuallisierung: {{ now }}</p>
{% include "copyright.jinja2" %}
</div>
{% include "footer.jinja2" %}
</body>
</html>